In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style("darkgrid")

In [5]:
top_tiktokers = pd.read_csv('top-250-tiktokers.csv', engine = 'python')
top_tiktokers

,Rank,Username,Country,Followers,Views,Likes,Engagement,Brand Account,Gender,Age,Ethnicity,Famous,Genre,LGBTQ
0,1,@charlidamelio,U.S.A,78.9m,38.3m,6.1m,16.60%,0,Female,16.0,White,0.0,"Dancing, Lipsyncing, Lifestyle",0.0
1,2,@addisonre,U.S.A,53.7m,13.8m,2.8m,20.80%,0,Female,19.0,White,0.0,"Dancing, Lipsyncing",0.0
2,3,@zachking,U.S.A,47.3m,17.6m,2.8m,16%,0,Male,30.0,East Asian,1.0,"Comedy, Illusion",0.0
3,4,@lorengray,U.S.A,46.3m,3.2m,622.6k,19.70%,0,Female,18.0,White,1.0,"Dancing, Lipsyncing",0.0
4,5,@tiktok,U.S.A,45.3m,9.4m,503.0k,5.60%,1,NaN,NaN,NaN,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,252,@ramneeksingh1313,India,8.6m,479.1k,31.6k,6.70%,0,Male,35.0,South Asian,0.0,"Comedy, Acting",0.0
252,253,@amandacerny,U.S.A,8.6m,654.7k,95.2k,14.60%,0,Female,29.0,White,1.0,"Comedy, Lifestyle",0.0
253,254,@rahimabram,Russia,8.6m,1.6m,271.2k,17%,0,Male,22.0,White,1.0,"Lipsyncing, Promotion, Lifestyle",0.0
254,255,@johnnyorlando,U.S.A,8.6m,1.1m,245.4k,22.70%,0,Male,17.0,White,1.0,"Lipsyncing, Promotion, Lifestyle",0.0
255,256,@sarati,U.S.A,8.6m,459.5k,90.4k,19.80%,0,Female,24.0,White,1.0,"Dancing, Comedy, Lifestyle",0.0

In [9]:
pdd.to_csv('merge.csv', index=False)

In [18]:
top_tiktokers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           256 non-null    int64
 1   Username       256 non-null    object
 2   Country        256 non-null    object
 3   Followers      256 non-null    float64
 4   Views          256 non-null    float64
 5   Likes          256 non-null    float64
 6   Engagement     256 non-null    float64
 7   Brand Account  256 non-null    int64
 8   Gender         232 non-null    object
 9   Age            225 non-null    float64
 10  Ethnicity      242 non-null    object
 11  Famous         255 non-null    float64
 12  Genre          254 non-null    object
 13  LGBTQ          239 non-null    float64
dtypes: float64(7), int64(2), object(5)
memory usage: 28.1+ KB

In [10]:
top_tiktokers["Followers"] = top_tiktokers["Followers"].astype(str).str.replace("m", "")
top_tiktokers["Followers"] = top_tiktokers["Followers"].astype(float)

In [13]:
top_tiktokers["Views"] = top_tiktokers["Views"].astype(str).str.replace("m", "")
top_tiktokers["Views"] = top_tiktokers["Views"].astype(str).str.replace("k", "")
top_tiktokers["Views"] = top_tiktokers["Views"].astype(float)

In [15]:
top_tiktokers["Likes"] = top_tiktokers["Likes"].astype(str).str.replace("m", "")
top_tiktokers["Likes"] = top_tiktokers["Likes"].astype(str).str.replace("k", "")
top_tiktokers["Likes"] = top_tiktokers["Likes"].astype(float)

In [17]:
top_tiktokers["Engagement"] = top_tiktokers["Engagement"].astype(str).str.replace("%", "")
top_tiktokers["Engagement"] = top_tiktokers["Engagement"].astype(float)

In [7]:
top_tiktokers.columns

Index(['Rank', 'Username', 'Country', 'Followers', 'Views', 'Likes',
       'Engagement', 'Brand Account', 'Gender', 'Age', 'Ethnicity', 'Famous',
       'Genre', 'LGBTQ'],
      dtype='object')

0      Female
1      Female
2        Male
3      Female
4         NaN
        ...
251      Male
252    Female
253      Male
254      Male
255    Female
Name: Gender, Length: 256, dtype: object

In [3]:
#convert items to a list
def convert(string): 
    li = list(string.split(","))
    li = [x.strip(' ') for x in li]
    return li

#edit "df" to column we want to extract
genre_list = []
for i in df.genre:
    genre_list = genre_list + convert(i)
tiktok_genres = np.unique(genre_list)

#function that counts amount of each genre
def count_amount(ser, ind):
    li = []
    for i in ind:
        total = 0
        for j in ser:
            if i in j:
                total += 1
        li.append(total)
    return li

#using genre counts (change "df")
genre_counts = count_amount(df.genre, tiktok_genres)
tiktok_genre_df = pd.Series(genre_counts, index = tiktok_genres)

NameError: name 'df' is not defined

In [ ]:
# OR USE DUMMIES TO GET COLUMNS!

In [14]:
#creating a dateframe with repeats of a tiktoker that falls into multiple genre categories, so we can plot catplots
genres_of_tokers_df = pd.DataFrame(columns = ['Followers','Views','Likes','Gender','Ethnicity','Genre'])
    
for genre in tiktok_genres:
    for index, row in top_tiktokers[top_tiktokers[contains(genre)]].iterrows():
        genres_of_tokers_df = genres_of_tokers_df.append({'Followers': row['Followers'], 
                                                          'Views': row['Views'],
                                                         'Likes': row['Likes'],
                                                         'Gender': row['Gender'],
                                                         'Ethnicity': row['Ethnicity'],
                                                         'Genre': genre}, ignore_index=True)

NameError: name 'tiktok_genres' is not defined

In [15]:
#lessen burden on piechart by grouping all smaller categories into an 'Other' index
def group_lower_ranking_values(rating_counts, amt):
    other = 0
    for i in rating_counts:
        if i < amt:
            other += i
            rating_counts = rating_counts.drop(rating_counts[rating_counts == i].index[0], axis=0)
    rating_counts['Other'] = other
    return rating_counts

TIKTOK COLORS ~~~~

Black: #010101
Blue: #69C9D0
White: #FFFFFF
Red: #EE1D52

Use https://seaborn.pydata.org/tutorial/categorical.html to see graphs with categorical data

In [16]:
#use this to potentially see x="genre" y="followers"/"likes"/"views", hue="Gender"
#discuss potential analysis: females get more ___ in genres of ____, males get more ___ in genres of ____
sns.catplot(x="day", y="total_bill", hue="sex", kind="swarm", data=tips)

#or can use a violin plot to see this!
sns.catplot(x="day", y="total_bill", hue="sex",
            kind="violin", split=True, data=tips)

#average view/followers/likes per each genre separated by gender
sns.catplot(x="class", y="survived", hue="sex",
            palette={"male": "g", "female": "m"},
            markers=["^", "o"], linestyles=["-", "--"],
            kind="point", data=titanic)

NameError: name 'tips' is not defined

Making a nested pie chart to look at the ratio of men to women and whether they are lgbtq or not
https://matplotlib.org/3.1.1/gallery/pie_and_polar_charts/nested_pie.html