In [1]:
import pandas as pd
import numpy as np
from TikTokApi import TikTokApi
from tiktok_data_cleaner import data_cleaner, hashtag_cleaner, to_csv

In [2]:
api = TikTokApi()
from TikTokApi.browser import set_async
set_async()

/Users/ivant/Desktop/DataRes/TikTok/venv/lib/python3.8/site-packages/TikTokApi/browser.py:84: RuntimeWarning: coroutine 'browser.newParams' was never awaited
  self.loop.close()
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

In [3]:
users = pd.read_csv('top_users+id.csv')
users

             username                   id
0       charlidamelio              5831967
1           addisonre  6703550784929793030
2            zachking    68616495085350913
3           lorengray               934514
4              tiktok               107955
..                ...                  ...
251  ramneeksingh1313  6884888749793199110
252       amandacerny              7148065
253        rahimabram  6545172102751633413
254     johnnyorlando             15268178
255            sarati  6615596888929812485

[256 rows x 2 columns]

In [4]:
suggested = pd.read_csv('suggested_user_and_id.csv')
suggested

                     username                   id
0                 john.cena10  6854235943953449989
1     robertdowneyjnrofficial  6885987756834178050
2                        shaq             14388294
3                   lazarbeam  6631468310313943045
4                     mrbeast  6614519312189947909
...                       ...                  ...
1724               briteresi0  6689034142682203142
1725               lynaperezz  6672558701465338881
1726            girlgainzblog  6807872361221096454
1727                berryemi1  6818002132563067909
1728          victoriabachlet              1146186

[1729 rows x 2 columns]

In [5]:
def get_vids(df, n_videos = 50):
    vids = []
    for username in df:
        vids.append(api.byUsername(username, count=n_videos))
    return vids

In [6]:
api.byUsername('charlidamelio')

TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.
TikTok isn't sending more TikToks beyond this point.

TypeError: list indices must be integers or slices, not str